.main-div{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    margin-top: 150px; 
}   
.inner-div{
    width: 300px;
    background-color: whitesmoke;
    padding: 30px;
    border-radius:10px;
}
.inner-div h2{
    font-size: 25px;
    font-weight:500;
    color: black;
    margin: 10px 0px 10px;
}
.inner-div li{
    font-size: 20px;
    margin-top: 10px;
    list-style: none;
}
#submit{
    padding: 10px 30px;
    outline:none;
    font-size: 15px;
    font-weight: 400;
    border: none;
    display: block;
    margin: auto;
    text-transform: uppercase;
    color: whitesmoke;
    background-color: #74b9ff;
    margin-top: 40px;   
}
#submit:hover{
    background-color: #0984e3;
}
#showscore{
    background-color: green;
    margin-top: 30px;
    padding: 30px 40px;

}
.scorearea{
    display: none;
}